<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
        >
    <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_HOST" value="127.0.0.1"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_PORT" value="4444"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_BROWSER" value="*firefox"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_TESTS_URL" value="http://www.tutorialspoint.com"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_TESTS_USERNAME" value="tutorialspoint"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_TESTS_PASSWORD" value="1234"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_PATH" value="/tmp"/>
    </php>
  
    <testsuites>
        <testsuite name="Project Test Suite">
            <!--<directory>../src/*/*Bundle/Tests</directory>-->
            <!--<directory>../src/*/Bundle/*Bundle/Tests</directory>-->
            <directory>../SeleniumTests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-crap4j" target="build/logs/crap4j.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>

    <filter>
        <whitelist>
            <directory>../SeleniumTests/</directory>
            <exclude>
                <directory>../TestCases</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
